<div class="container">

  <%= erb :'/partial/_errors'%>
  <form class="" action="/users" method="post">
    <div class="">
      <label for="username">Username</label>
      <input type="text" name="user[username]">
    </div>

    <div class="">
      <label for="email">Email</label>
      <input type="email" name="user[email]">
    </div>
    <div class="">
      <label for="password">Password</label>
      <input type="password" name="user[password]">
    </div>

    <input type="submit" name="" value="Sign Up">
  </form>
</div>
