<form id='newBookForm' class="" action="/libraries/<%=@library.id%>/books" method="post">

    <div class="">
      <label for="title">Title</label>
      <input id="title" type="text" name="book[title]" placeholder="Title">
    </div>

    <div class="">
      <label for="author">Author</label>
      <input id="author" type="text" name="book[author]" placeholder="Author">
    </div>

    <input type="submit" name="" value="Update">
  </form>