<div class="book-index">
    <h3>My library</h3>
    <ul>
      <% @books.each do |book_instance| %>
        
        <%= erb :'/books/_book', locals: {book: book_instance} %>
        
      <% end %>
    </ul>

    <a id='addNewForm' href="/libraries/<%= @library.id%>/books/new">Add a new book</a>
</div>
