<div class="">
    <h3>My library</h3>
    <ul>
      <% @books.each do |book| %>
        <li><%= book.title%>(<%= book.author%>)</li>
      <% end %>
    </ul>

    <a href="/libraries/<%= @library.id%>/books/new">Add a new book</a>
</div>
